*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo{
    font-weight: 500;
    font-size: x-large;
}

.navButton{
    margin: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    background-color: #0071c2;
}

.navButton:hover{
    background-color: white;
    color: #0071c2;
}